:root {
    --text: #2330e7;
    --background: #56f57e;
    --primary: #d0e137;
    --secondary: #234eb3;
    --accent: #ebfd49;   
}
body  {
    font-family : Arial, Helvetica, sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--secondary);
    color: white;
    padding: 10px 0;
    text-align: center;
} 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
}
nav ul li {
    display: inline;
    margin: 0;
}
nav ul li a {
    display: inline-block;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: var(--accent);
    color: black;
}
main { padding: 20px; 
    background: white;
    color: var(--text)}
footer{
    text-align: center;
    padding: 10px;
    background: var(--secondary);
    color: white;
}